@page "/addBrand"
@using FineWoodworkingBasic.Service
@using FineWoodworkingBasic.Model
@using System.ComponentModel.DataAnnotations
@inject AddBrandService svc
@inject AllStateInfoService FullState

<PageTitle>Add a Brand</PageTitle>


@*
<h1>Please Enter a New Brand</h1>

<div class="form-group row">
    <label 
        for="brandName" 
        class="col-sm-2 col-form-label">
        Brand Name
        </label>
    <div class="col-sm-10">
        <input 
            type="text" 
            id="brandName" 
            class="form-control" 
            placeholder="Brand Name" 
            @bind="@bName" 
            @oninput="SetBName" />
    </div>
</div>
<div class="form-group row">
    <label for="brandNotes" class="col-sm-2 col-form-label">Brand Notes</label>
    <div class="col-sm-10">
        <input type="text" id="brandNotes" class="form-control" placeholder="Brand Notes" @bind="@bNotes" @oninput="SetBNotes" />
    </div>
</div>

<button class="btn btn-primary" @onclick="AddBrandAction">Add Brand</button>
<div class="@CssClass">
    <p role="status">Status: @addBrandMessage </p>
</div>
*@

<EditForm Model="model" OnValidSubmit="OnValidSubmit" >
<DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField T="string" Label="Brand name" Counter="50" Immediate="true" Variant="Variant.Text"
                @bind-Value="model.Name" Validation="@(new Func<string, IEnumerable<string>>(MaxFiftyCharacters))"/>
            <MudTextField T="string" Label="Notes" Counter="2000" Immediate="true" Variant="Variant.Text" Lines="3"
                @bind-Value="model.Notes" Validation="@(new Func<string, IEnumerable<string>>(MaxTwoThouCharacters))"/>       
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Success">
            @if (spin)
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
            }
            else
            {
                <MudText>Add new Brand</MudText>
            }
            </MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

<MudText>@addBrandMessage</MudText>
